<footer
  style="
    position: fixed;
    bottom: 0;
    left: 210px;
    width: calc(100% - 210px);
    background: white;
    border-top: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    z-index: 1001;
    z-index: 1000;
  "
>
  <style>
    .footer-text {
      font-size: 0.8em;
    }
    @media (max-width: 768px) {
      .footer-text {
        font-size: 0.7em;
      }
    }
  </style>
  <p class="mb-0 text-muted footer-text">
    Version {{ version }} | Copyright © 2025 | Developed and maintained by
    <a href="/developer" class="text-primary fw-bold"
      >Sejj Technologies(U)Ltd.</a
    >
  </p>
</footer>
